.container {
  padding-left: 1rem;
  padding-right: 1rem;
  max-width: 57.375rem;
  margin-top: 1.25rem;
  margin-left: auto;
  margin-right: auto;

}

.summary {
  font-size: 1.3125rem;
  margin-bottom: 1.25rem;
}

.results { 
}
