.result {
  display: flex;
  flex-direction: row;
  padding-top: 1.25rem;
  padding-bottom: 1rem;
  border-top: 1px solid var(--primary-grey-color);
}

.container {
  margin-right: 0.535rem;
}

.avatar {
  border-radius: 50%;
}

.fullName {
  color: var(--main-text-color);
  font-weight: var(--bold-font-weight);
  font-family: var(--additional-font-family);
  line-height: 1.5rem;
}

.login {
  margin-bottom: 1.25rem;
  color: var(--secondary-text-color);
  font-weight: var(--medium-font-weight);
  line-height: 1.5rem;
}

.bio {
  margin-bottom: 0.5rem;
  color: var(--tertiary-text-color);
  font-weight: var(--medium-font-weight);
  font-size: 0.875rem;
  line-height: 1.125rem;
}

.location {
  color: var(--secondary-text-color);
  font-size: 0.75rem;
  line-height: 1rem;
}
