.result {
  display: flex;
  flex-direction: row;
  padding-top: 1.25rem;
  padding-bottom: 1rem;
  border-top-style: solid;
  border-top-color: var(--primary-grey-color);
  border-top-width: 1px;
}

.flexrow {
  display: flex;
  flex-direction: row;
}

.icon {
  margin-right: 0.65625rem;
  line-height: 1.5rem;
}

.name {
  color:  var(--main-text-color);
  margin-bottom: 0.3125rem;
  font-weight: var(--medium-font-weight);
  line-height: 1.5rem;
}

.description {
color: var(--secondary-text-color);
margin-bottom: 0.9375rem;
line-height: 1.5rem;
}

.additional {
  display: flex;
  flex-direction: row;
  margin-right: 0.875rem;
  color: var(--secondary-text-color);
  font-size: 0.75rem;
  line-height: 1rem;
}

.center{
  display: flex;
  flex-direction: row;
  align-items: center;
}

.star {
  margin-right: 0.2275rem;
}


.stargazers {
  margin-right: 0.875rem;
  display: flex;
  font-family: var(--additional-font-family);
  font-weight: var(--bold-font-weight);
}

.programingLanguage {
  margin-right: 0.875rem;
}

.updated {
  margin-right: 0.875rem;
}
.issues {
  margin-right: 0.875rem;
}