.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-right: 1.25rem;
  padding-top: 1.09375rem;
  height: 4.6875rem;
  width: 100vw;
  background-color: var(--primary-dark-color);
  margin-bottom: 2.125
}

.logo {
  margin-left: 1.25rem;
  width: 2.375rem;
  height: 2.375rem;
}

.form {
  color: var(--primary-light-color)
}

.input {
  background-color: var(--tertiary-text-color);
  border: 1px solid var(--primary-light-color);
  width: 15.125rem;
  height: 2.3125rem;
  border-radius: 5px;
  color: inherit;
  font-weight: 600;
}

