
@import url('https://fonts.googleapis.com/css?family=Roboto:200,300,400,700,900&display=swap');

*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
}

html,
body {
  height: 100%;
}

:root {
  --gradient: linear-gradient(135deg, #8fee8f 10%, #00ffa3 100%);
  --bg-color: #344b37;
  --bg-color--card: #223123;
  --main-text-color: #fff;
  --main-text-size: 1.125rem;
  --main-border-radius: 25px;
  --secondary-border-radius: 15px;
}

body {
  width: 100%;
  margin: 0;
  background-color: var(--bg-color);
  color: var(--main-text-color);
  font-family: 'Roboto', sans-serif;
}